@model SMKMIVLGU.Models.PatternIkProcessRowViewModel
@{var date = DateTime.Now.Date;}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<div class="row box-shadow">
    <div class="col-md-4">
        <div class="accordion" id="accordionExample" style="margin-bottom:5px;">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Выбрать ик-процесс
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" style="margin-bottom:5px;" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body" style="border-bottom:2px solid #f1e6e6;">
                        <div class="list-group">
                            @foreach (var ik in ViewBag.Iks)
                            {
                                <form method="get" asp-action="EditIkProcess" asp-route-id="@ik.id">
                                    <button type="submit" class="list-group-item list-group-item-action btn-info btn-sm " style="margin-bottom:5px;">@ik.СodeIkProcess-@ik.RSMK</button>
                                </form>

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    @if (Model != null)
    {
      
<div class="row">
    <div class="col-md-4">
        <h3>Редактировать данные</h3>
        <input id="codeIK" type="text" class="ik" placeholder="Код ИК-процесса" style="margin-bottom:5px;" value="@ViewBag.ikName.СodeIkProcess" />
        <input id="codeDoc" class="ik" placeholder="Код документированной процедуры" style="margin-bottom:5px;" value="@ViewBag.ikName.СodeDocProcedure" />
        <input id="codeIk" class="ik" placeholder="Наименования раздела РСМК" value="@ViewBag.ikName.RSMK" />

    </div>
    <div class=" col-md-4">
        <h3>Действия</h3>
        <div class="input-group">
            <form asp-action="DeleteIkProcess" asp-route-id="@ViewBag.ikName.id" method="post">
                <div style="text-align:center;">
                    <button type="submit" class="btn">

                        <i class="text-danger fa fa-trash fa-4x" aria-hidden="true"></i>
                    </button>
                    <p style="font-size:15px;text-align:center;color:black;">Удалить</p>
                </div>
            </form>
        </div>
    </div>
</div>


        <div>
            <h3>Редактировать данные</h3>
            <div class="table-responsive">
                <table id="example" class="table table-bordered table-condensed mydatatable" style="width:100%">
                    <thead>
                        <tr style="background-color:#f3f3f3;">

                            <th class="text-center">Цель процесса, направленная на достижение установленных результатов / исполнители</th>
                            <th class="text-center">Показатель процесса</th>
                            <th class="text-center">Измеряемое значение дляпоказателя процесса</th>
                            <th class="text-center">Единица величины</th>
                            <th class="text-center">Способ измерения/ Метод анализа</th>
                            <th class="text-center">Целевые значения показателя на конец  @date.Year.ToString() г.</th>
                            <th class="text-center">Фактическое значение показателя  на анализируемый период @date.Year.ToString()  г.</th>
                            <th class="text-center">Результативность показателя процесса  на анализируемый период @date.Year.ToString() г., %</th>

                        </tr>
                        <tr style="background-color:#f3f3f3;">
                            <th class="text-center">1 </th>
                            <th class="text-center">2</th>
                            <th class="text-center">3</th>
                            <th class="text-center">4</th>
                            <th class="text-center">5</th>
                            <th class="text-center">6</th>
                            <th class="text-center">7</th>
                            <th class="text-center">8</th>

                        </tr>
                    </thead>
                    <tbody>
                   @Html.Raw(@Model.RowHtmlCode)
                    </tbody>

                </table>
            </div>
            <br />

            <div class=" float-right mb-3 mr-2 btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> None
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Соеденить строки
                </label>


            </div>

            <span class="float-right mb-3 mr-2">
                <input class="small" type="number" min="2" max="5" value="2" id="count" style="width:70px;">
            </span>
            <span class="table-remove float-right mb-3 mr-2">
                <a href="#!" class="text-danger">
                    <i class="fas fa-minus fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success">
                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <button onclick="Edit()" type="submit" id="btn" class="btn btn-primary">Изменить</button>
            <p />
        </div>
    }


<script>
       
   

    function Edit() {
      
        var bool = true;
        for (var i = 0; i < document.getElementsByClassName('ik').length; i++) {
            if (document.getElementsByClassName('ik')[i].value == null || document.getElementsByClassName('ik')[i].value == "") {
                return alert("Необходимо заполнить все поля!");
                bool = false;
            }
        }
        if (bool == true) {

                var names = [];

                for (var i = 0; i < document.getElementsByClassName('ik').length; i++) {
                    var kek = document.getElementsByClassName('ik')[i];
                    names.push(kek.value);
            }
            for (var i = 0; i < $("tr").length; i++) { $("tr")[i].children[$("tr")[i].children.length - 2].setAttribute('class', 'num'); }
            var result = $('tbody')[0].innerHTML;
            
            var _url = window.location.href.split('/');
            var trashId = _url[_url.length - 1];
            var idIkProcess = Number(trashId[0]);
         
                if (result.length > 0) {

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditIkProcess")',
                        data: {
                            keks: result,
                            ikProcessData: names,
                            id: idIkProcess
                        }
                    }).done(function () {
                        location.reload();
                    });
                }
                else {
                    alert("Необходимо заполнить таблицу!");
                    bool = false;
                }
            }
    }

   
    $("#example").on("click", "td", function (e) {

        if (document.getElementsByClassName("btn-group-toggle")[0].children[1].getAttribute('class').split(' ').includes('active')) {

            if ($(this).parent().parent().children().index($(this).parent()) != $(this).parent().parent().children().length - 1);
            {
                var count = 0;
                for (var i = $(this).parent().parent().children().index($(this).parent()); i < $(this).parent().parent().children().length; i = i + 1) {
                    count = count + 1;
                }
                if (typeof $(this).attr('rowspan') === 'undefined') {
                    if (document.getElementById('count').value <= count && document.getElementById('count').value > 1) {
                        var index = $(this).parent().children().index($(this));
                        var n = 0;
                        var j = $(this).parent().parent().children().index($(this).parent());
                        $(this).attr("rowspan", document.getElementById('count').value);
                        while (n < document.getElementById('count').value - 1) {
                            var j = j + 1;
                            $(this).parent().parent().children()[j].children[index].remove();
                            n++;
                        }

                        // alert($(this).parent().parent().children().index($(this).parent()));
                    }
                }
                else {

                    if (Number($(this).attr('rowspan')) < document.getElementById('count').value) {

                        var count = 0;
                        for (var i = $(this).parent().parent().children().index($(this).parent()); i < $(this).parent().parent().children().length; i = i + 1) {
                            count = count + 1;
                        }
                        if (document.getElementById('count').value <= count && document.getElementById('count').value > 1) {
                            var index = $(this).parent().children().index($(this));
                            var n = 0;
                            var j = $(this).parent().parent().children().index($(this).parent()) + (Number($(this).attr('rowspan')) - 1);


                            while (n < (document.getElementById('count').value - Number($(this).attr('rowspan')))) {

                                j = j + 1;
                                $(this).parent().parent().children()[j].children[index].remove();
                                n++;
                            }
                            $(this).attr("rowspan", document.getElementById('count').value);
                        }

                    }
                    else if (Number($(this).attr('rowspan')) > document.getElementById('count').value) {
                        var count = 0;
                        for (var i = $(this).parent().parent().children().index($(this).parent()); i < $(this).parent().parent().children().length; i = i + 1) {
                            count = count + 1;
                        }
                        if (document.getElementById('count').value <= count) {
                            var index = $(this).parent().children().index($(this));

                            var j = $(this).parent().parent().children().index($(this).parent()) + (Number($(this).attr('rowspan')) - 1);

                            var attributes = $(this).prop("attributes");

                            for (j; j > Number(document.getElementById('count').value) - 1; j--) {

                                $(this).parent().parent().children()[j].children[index].insertAdjacentHTML("beforeBegin", '<td  class="pt - 3 - half" contenteditable="true" style="white - space: nowrap;"></td>');

                            }
                            $(this).attr("rowspan", document.getElementById('count').value);
                        }
                    }
                }

            }
        }
     

    });
  
    $("#example").on('DOMSubtreeModified', "td", function (e) {
        if ($(this).attr('class').split(' ').includes('num')) {
            if (!/^\d*[.]?\d*$/.test($(this).text())) {            
                $(this).text('');
            }
            else {
                var kek = $(this).parent().children();
                kek[kek.length - 1].textContent = Math.floor(Number(($(this).text()) / Number(kek[kek.length - 3].textContent) * 100));
            }
        }
    });
    

</script>
